@import 'fonts.scss';
$black: #000;
$white: #fff;
$blue: #4c76ff;
$dblue: #062033;
$medium: 'Montserrat-Medium';
$thin: 'Montserrat-Thin';
$nunito: 'NunitoSans-Regular';
$nunitob: 'NunitoSans-Bold';
$roboto: 'Roboto-Regular';
